<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Províncias</title>
</head>
<body>
    <h1>Lista de Províncias</h1>
<ul>
    <% provincias.forEach(provincia => { %>
        <li><a href="/distritos/<%= provincia.id %><%= queryParams %>"><%= provincia.nome %></a></li>
    <% }) %>
</ul>
<a href="/provincias/novo<%=queryParams%>">Adicionar Província</a>
<br><br><br>
<a href="/<%=queryParams%>">Voltar para Inicio</a>

</body>
</html>